@import "./fonts/stylesheet.css";

/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f5;
}

h2 {
  font-family: "Stratos Deliveroo Web";
  margin: 0px 0px;
  font-size: 28px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 200;
  margin: 8px 0px;
}

.loading {
  color: #5acdbd;
}

/* HEADER */

header {
  border-bottom: 1px solid #ebebeb;
  height: 50px;
  background-color: #ffffff;
}

.logo {
  margin: 10px 0px;
  height: 30px;
}

.title {
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
  height: 240px;
}

.container-title {
  display: flex;
  width: 1200px;
  margin: auto;
}

.title-content {
  padding: 20px;
}

.title-pic {
  padding: 10px;
  width: 370px;
  height: 160px;
  background-size: cover;
  object-fit: cover;
  border-radius: 3px;
}

/* NAV */

.main-nav a {
  text-decoration: none;
  color: #5acdbd;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px;
}

.main-nav a:hover {
  color: #ffffff;
  background-color: #5acdbd;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  text-decoration: none;
  width: 768px;
  font-size: 14px;
  flex: 2;
}

.nav-wrapper {
  display: flex;
  position: sticky;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  height: 48px;
}

.container-nav {
  background-color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 4;
}

.plus-nav {
  margin-top: 10px;
  color: #5acdbd;
  font-size: 14px;
  list-style: none;
}

.plus {
  padding: 5px 15px;
  border-radius: 15px;
}

.plus:hover {
  cursor: pointer;
  background-color: #5acdbd;
  color: #ffffff;
}

.vertical-nav {
  list-style: none;
  color: black;
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  padding: 10px;
  margin: 0px 0px;
  z-index: 3;
}

.vertical-nav li {
  margin: 0px;
  padding: 7px;
}

.vertical-nav a {
  background-color: #ffffff;
  text-decoration: none;
  color: black;
  padding: 5px;
  color: #5acdbd;
  border: 1px solid #5acdbd;
}

.container-content {
  width: 768px;
  margin: 0px 0px;
  flex: 2;
}

.main {
  display: flex;
  position: relative;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.cart-wrapper {
  flex: 1;
}

.cart {
  width: 370px;
  margin: 0px 0px;
  margin-left: 35px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 4px 6px grey;
}

.cart-button {
  margin-top: 10px;
  width: 354px;
  height: 48px;
  background-color: #5acdbd;
  border-radius: 6px;
  font-size: 16px;
}

.cart-button:hover {
  cursor: pointer;
}

.empty-cart-button {
  margin-top: 10px;
  width: 354px;
  height: 48px;
  background-color: #9fa2a2;
  border-radius: 6px;
  font-size: 16px;
}

.empty-cart {
  height: 40px;
  vertical-align: center;
  padding: 50% 0%;
}

.quant-icon {
  height: 15px;
}

.cart-content {
  margin: auto;
}

.cart-items {
  margin: 10px 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 5px;
}

.sous-total {
  border-top: 1px solid #5acdbd;
  padding: 5px;
}

.livraison {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 3px solid #5acdbd;
  font-weight: 700;
}

.menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 25px 0px;
  margin-right: 25px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-card {
  position: relative;
  padding: 10px;
  width: 335px;
  height: auto;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-items: space-around;
  overflow: auto;
  margin: 10px 0px;
}

.menu-description {
  overflow: auto;
  color: #9fa2a2;
  height: 40px;
  margin: 0px 0px;
}

.menu-card:hover {
  box-shadow: 0px 4px 6px grey;
  cursor: pointer;
}

.menu-info {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 65%;
}

.menu-pic {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 96px;
  height: 96px;
  border-radius: 3px;
  background-size: cover;
  object-fit: cover;
}

.popular {
  color: #f17f30;
}

@media (max-width: 1200px) {
  .container-title,
  .container-nav,
  .container-content,
  .main {
    width: auto;
  }
}
